<app-header></app-header>

<div class="home">
    <div class="masthead-item-container">
        <div class="masthead-card">
            <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                        <div class="image-holder">
                            <img src="{{ slide.image }}">
                        </div>
                        <div class="container">
                            <div class="slider-content">
                                <div class="title">
                                    {{slide.title}}
                                </div>
                                <div class="top">
                                    <span class="meta-data">{{slide.language}}<span class="dot">.</span></span>
                                    <span class="meta-data">{{slide.genere}}<span class="dot">.</span></span>
                                    <span class="meta-data">{{slide.year}}</span>
                                </div>
                                <div class="description">
                                    {{slide.description}}
                                </div>
                                
                            </div>
                        </div>
                        <!-- <p style="color: brown;">{{slider-content}}</p> -->
                    </div>
            </ngx-slick-carousel>
            <div class="image-gradient"></div>
            
        </div>
    </div>
    <app-tray></app-tray>
    <app-footer></app-footer>
</div>

