<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a>
            <img src="https://secure-media.hotstarext.com/web-assets/prod/images/brand-logos/disney-hotstar-logo-dark.svg" alt="" 
            class="brand-logo" [routerLink]="['/']">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar"> 
                <li class="nav-item dropdown">
                    <div  class="dropdown-container">
                        <a class="nav-link">
                            <div class="content">
                                <span class="view">View In<b class="content">English</b>
                                    <img src="https://secure-media.hotstarext.com/web-assets/prod/images/langauge-switcher-chevron-dark-mode.svg" alt="" 
                                    class="dropdown-up">
                                </span>
                            </div>
                        </a>
                        <div class="sublink-container">
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="divider"></li>
                                <li class="dropdown-item"><a class="dropdown-link">English</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-item"><a class="dropdown-link">हिंदी</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-item"><a class="dropdown-link">தமிழ்</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-item"><a class="dropdown-link">తెలుగు</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </li>
                <div>
                    <li class="nav-item login-container">
                        <a class="nav-link"><button class="btn btn-primary login-button">Log In</button></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<app-subscribe-body>

</app-subscribe-body>