<div class="subscribe-body">
    <div class="subscribe-caption-container">
        <span class="subscribe-caption">Subscribe to watch all content on Disney+ Hotstar</span>
    </div>
    <div class="subscribe-body-comparator">
        <div class="subscribe-body-comparator-header">
            <div class="subscribe-body-comparator-row">
                <div class="row">
                    <div class="col-8">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title"></div>
                            <div class="subscribe-body-comparator-key-desc"></div>
                    </div> 
                    </div>
                    <div class="col-2" [ngClass]="isCurrentPlan ? 'current_plan' : ''">
                    <div class="super-container">
                        <span class="super-span">Super</span>
                    </div>                    
                    </div>
                    <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                    <div class="premium-container">
                        <span class="premium-span">
                            Premium
                        </span>
                    </div> 
                    </div>
                </div>
            </div>
        </div>
       
        <div class="subscribe-body-comparator-content-t">
            <div class="row">
              <div class="col-8">
                <div class="subscribe-body-comparator-row">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title">All Content</div>
                            <div class="subscribe-body-comparator-key-desc">Movies, live sports, TV, Specials</div>
                        </div>   
                    </div>
                </div>
                <div class="col-2" [ngClass]="isCurrentPlan ? 'current_plan' : ''">
        
                    <div class="super-container">
                        <span>
                            <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                            alt="" class="tick-icon">
                        </span>
                    </div>                    
                </div>
                <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                <div class="premium-container">
                    <span>
                        <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                        alt="" class="tick-icon">
                    </span>
                </div> 
              </div>
            </div>
        </div>
        <div class="subscribe-body-comparator-content">
            <div class="row">
              <div class="col-8">
                <div class="subscribe-body-comparator-row">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title">Watch on TV or Laptop</div>
                            <!-- <div class="subscribe-body-comparator-key-desc">Movies, live sports, TV, Specials</div> -->
                        </div>   
                    </div>
                </div>
                <div class="col-2" [ngClass]="isCurrentPlan ? 'current_plan' : ''">
                    <div class="super-container">
                        <span>
                            <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                            alt="" class="tick-icon">
                        </span>
                    </div>                    
                </div>
                <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                <div class="premium-container">
                    <span>
                        <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                        alt="" class="tick-icon">
                    </span>
                </div> 
              </div>
            </div>
        </div>
        
        <div class="subscribe-body-comparator-content">
            <div class="row">
              <div class="col-8">
                <div class="subscribe-body-comparator-row">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title">Ads free movies and shows (except sports)
                        </div>
                            <!-- <div class="subscribe-body-comparator-key-desc">Movies, live sports, TV, Specials</div> -->
                        </div>   
                    </div>
                </div>
                <div class="col-2" [ngClass]="isCurrentPlan ? 'current_plan' : ''">
                    <div class="super-container">
                        <span>
                            <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                            alt="" class="tick-icon">
                        </span>
                    </div>                    
                </div>
                <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                <div class="premium-container">
                    <span>
                        <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                        alt="" class="tick-icon">
                    </span>
                </div> 
              </div>
            </div>
        </div>
        <div class="subscribe-body-comparator-content">
            <div class="row">
              <div class="col-8">
                <div class="subscribe-body-comparator-row">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title">Number of devices that can be logged in
                        </div>
                            <!-- <div class="subscribe-body-comparator-key-desc">Movies, live sports, TV, Specials</div> -->
                        </div>   
                    </div>
                </div>
                <div class="col-2" [ngClass]="isCurrentPlan ? 'current_plan' : ''">
                    <div class="super-container">
                        <span>
                            <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                            alt="" class="tick-icon">
                        </span>
                    </div>                    
                </div>
                <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                <div class="premium-container">
                    <span>
                        <img src="https://secure-media.hotstar.com/static/subscription/paywall_service/comparator/tick/smp/web-1x.png" 
                        alt="" class="tick-icon">
                    </span>
                </div> 
              </div>
            </div>
        </div>
        <div class="subscribe-body-comparator-content">
            <div class="row">
              <div class="col-8">
                <div class="subscribe-body-comparator-row">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title">Max video quality</div>
                            <!-- <div class="subscribe-body-comparator-key-desc">Movies, live sports, TV, Specials</div> -->
                        </div>   
                    </div>
                </div>
                <div class="col-2"  [ngClass]="isCurrentPlan ? 'current_plan' : ''">
                    <div class="super-container">
                        <span class="super-value">
                            Full HD(1080p)
                        </span>
                    </div>                    
                </div>
                <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                <div class="premium-container">
                    <span class="premium-value">
                        4K (2160p)
                    </span>
                </div> 
              </div>
            </div>
        </div>
        <div class="subscribe-body-comparator-content">
            <div class="row">
              <div class="col-8">
                <div class="subscribe-body-comparator-row">
                    <div class="subscribe-body-comparator-key">
                        <div class="subscribe-body-comparator-key-title">Max audio quality</div>
                            <!-- <div class="subscribe-body-comparator-key-desc">Movies, live sports, TV, Specials</div> -->
                        </div>   
                    </div>
                </div>
                <div class="col-2" [ngClass]="isCurrentPlan ? 'current_plan' : ''">
                    <div class="super-container">
                        <span class="super-value">
                            Dolby 5.1
                        </span>
                    </div>                    
                </div>
                <div class="col-2" [ngClass]="isCurrentPlanPre ? 'current_plan' : ''">
                <div class="premium-container">
                    <span class="premium-value">
                        Dolby 5.1
                    </span>
                </div> 
              </div>
            </div>
        </div>
        <div class="sub-bottom">
            <div class="row">
                <div class="pack-buttons">
                    <div class="pack-button-super col-6">
                        <div #myDiv id="tutor-price"></div>
                        <button class="btn" #defaultSelected (click)="onSubSelect('super')">
                            <span class="btn-title">
                                Super
                            </span>
                            <div class="pricing-container">
                                <span class="pricing">899<span class="duration">/Year</span></span>
                            </div>
                            <div class="tick-container">
                                <img src="https://secure-media1.hotstarext.com/web-assets/prod/images/psp-lite/filled-check-1x.png" 
                            alt="" class="tick-icon" #tick_super>
                            </div>
                        </button>
                    </div>
                    
                    <button class="btn" (click)="onSubSelect('pre')" #defaultSelectedPre>
                        <span class="btn-title pre">
                            Premium
                        </span>
                        <div class="pricing-container">
                            <span class="pricing">1499<span class="duration">/Year</span></span>
                        </div>
                        <div class="tick-container">
                            <img src="https://secure-media1.hotstarext.com/web-assets/prod/images/psp-lite/filled-check-1x.png" 
                        alt="" class="tick-pre hidden" #tick_pre>
                        </div>
                    </button>
                </div>
                <div class="col-12">
                    <div class="continue-container">
                        <button class="btn btn-continue">Continue with {{sub}} 
                            <div class="icon-container">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>